body {
    min-height: 100vh;
}

section {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content {
    flex: 1 0 auto;
}

#hero {
    padding-top: 65px;
}

#accordion {
    min-height: 70vh;
}

.social-link-img {
    background: white;
    border-radius: 50%;
    max-width: 100px;
}

footer.bg-dark {
    flex-shrink: none;
}

footer ul.list-unstyled li {
    margin-bottom: 0.4rem;
}